*{
    margin: 0;
    padding: 0;
  }

header{
    display: flex;
}

.esquerda{
    background-color: rgb(0, 255, 98);
    width: 70vw;

}

.direita{
    background: #EDEDED;
    box-shadow: -3px 0 15px rgba(0,0,0,0.5);
    width: 30vw;
}

footer {
    width: 100%;
    background-color: #791010;
    padding: 20px 0;
    text-align: center;
    left: 0;
}

.idioma li{
    list-style: none;
}  

.foto_perfil{
    display: flex;
    overflow: hidden;
    width: 100%;
}

.foto_perfil img{
    border-radius: 50%;
    width: 30vw;
    height: 28vw;
    transition: all ease-in-out .3s; 
}

.foto_perfil img:hover{
    transform: scale(1.25);
}

.sobre{
    margin: 50px;
    text-align: center;
}

.texto-sobre{
    text-align: justify;
    margin-top: 10px;
}

.detalhes{
    margin: 50px;
}

.detalhes li{
    list-style: none;
}

.recomendacao{
    margin: 50px
}

.idioma{
    margin: 50px;
}

.nav{
    display: flex;
}

.name-and-type{
    margin-top: 20px;
    margin-left: 100px;
    text-align: justify;
}

.redes{
    margin-top: 20px;
}

.redes li{
    margin-left: 200px;
    list-style: none;
}

.redes .whats{
    margin-left: 10px;
}

.redes .insta{
    margin-left: 10px;
}

.redes .git{
    margin-left: 10px;
}

.container {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#BFBE9F, #1A2B21);
    transition: all .5s;
    margin: 30px;
    max-width: 800px;
}

.card:hover {
    background-image: linear-gradient(#a8a899, #d2d2d2);
}

.card .img-i1{
    background-image: url('../app/favicon.ico');
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img-i2{
    background-image: url('../app/favicon.ico');
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img-i3{
    background-image: url('../app/favicon.ico');
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img-i4{
    background-image: url('../app/favicon.ico');
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img-i1 span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
    color: white;
    font-weight: bold;
    margin-top: 8vw;
}

.card .img-i2 span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
    color: white;
    font-weight: bold;
    margin-top: 8vw;
}

.card .img-i3 span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
    color: white;
    font-weight: bold;
    margin-top: 8vw;
}

.card .img-i4 span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
    color: white;
    font-weight: bold;
    margin-top: 8vw;
}

.card:hover .img {
    width: 430px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .content {
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
}

.card:hover .content {
    height: 160px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 20px;
    font-weight: 600;
}

.card .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card .arrow {
    padding: 15px;
    transform: rotate(-0deg);
    color: #908F6D;
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(180deg);
}

.card .arrow span {
    font-size: 24px;
}